@charset "UTF-8";


/* general */

body {
  font-family: 'courier new', sans-serif;
  margin: 0;
  background-color: #000000;
	background-repeat: no-repeat; 
}


/* TEXT & FONTS */ 

@font-face {
  font-family: Daydream;
  src: url('/assets/fonts/Daydream.ttf'); 
}

a {
  color: #FFC930;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
	color: #ff5ac4;
}

h1, h2, h3, h4, h5, h6 {
  color: #ff5ac4;
  font-family: daydream;
  text-decoration: none;
}

p {
  color: #FFffff;
  text-indent: 1em;
}
			
h1 {
  font-size: 24px; 
}

h2 {
  font-size: 20px; 
}
h3 {
  font-size: 18px; 
}
h4 {
  font-size: 16px; 
}
h5 {
  font-size: 15px; 
}
h6 {
  font-size: 14px; 
}

strong {
  color: #ff5ac4;  
}



